<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Spring Security</title>
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1>Spring security Reports Page</h1>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Station Id</th>
							<th>Plate</th>
							<th>TimeStamp</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="toll : ${tolls}">
							<td th:text="${toll.stationId}"></td>
							<td th:text="${toll.licensePlate}"></td>
							<td th:text="${toll.timestamp}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-2"></div>
		</div>
	</body>
</html>